* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
}
.navbar a {
  color: aliceblue;
}

header {
  height: 80vh;
}
.content {
  max-width: 1220px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.navbar {
  /* background-color: #020b0d; */
  background-color: rgba(10, 25, 47, 0.8);
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner {
  text-align: center;
}
footer {
  color: aliceblue;
  text-align: center;
  padding: 2rem;
  background-color: rgb(10, 25, 47);
}
